@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
* {
  margin: 0;
 font-family:"Poppins",sans-serif;
 box-sizing: border-box;
}
body{
  color: #fff;
  background-color: #061a1f;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
head{
  
}
